@if (table$()) {
    <div class="waiting-room">

    <h2>Table #{{ table$()!.table_id }}</h2>

    <div class="table-info">

        <table>
        <tr>
            <th>Hôte</th>
            <td>{{ table$()!.host_name }}</td>
        </tr>

        <tr>
            <th>Joueurs</th>
            <td>{{ table$()!.players.length }}
        </tr>

        <tr>
            <th>ID Table</th>
            <td>#{{ table$()!.table_id }}</td>
        </tr>
        </table>

    </div>

    <p class="status">En attente d'autres joueurs...</p>
    @if (table$()!.host_name == username) {
        <p class="host-message">Vous êtes l'hôte de cette table. Vous pouvez lancer la partie lorsque tous les joueurs sont prêts.</p>
        <button class="btn start" (click)="startGame()">
            Lancer la partie
        </button>
    }

    </div>
}