@if (summary){
    <div class="round-summary-overlay">
      <div class="round-summary-card">
        <div class="summary-header">
          <div class="summary-title">Round #{{ summary.round_number }}</div>
          <div class="summary-winner-block">
            <span class="winner-label">Vainqueur</span>
            <span class="winner-name">{{ summary.winner_name || 'Aucun' }}</span>
          </div>
        </div>

        <div class="summary-board">
          <div class="board-label">Cartes communes</div>
          <div class="board-cards">
            @for(card of summary.community_cards; track $index){
              <app-card [card]="card" [size]="'s'"></app-card>
            }
          </div>
        </div>

        <div class="summary-body">
          <div class="summary-pot">Pot total : {{ summary.pot }} jetons</div>

          <div class="summary-players">
            @for (player of summary.players; track $index){
                <div class="summary-player" [class.winner]="player.player_name == summary.winner_name">
                  <div class="player-top">
                    <div class="player-name">{{ player.player_name }}</div>
                    <!-- <div class="player-result" [class.win]="player.chips_change > 0" [class.loss]="player.chips_change < 0">
                      {{ player.chips_change > 0 ? '+' : '' }}{{ player.chips_change }}
                    </div> -->
                  </div>

                  <div class="player-hand">
                    @if(player.hand?.length == 0){
                        <app-card [size]="'s'" [isFaceDown]="true"></app-card>
                        <app-card [size]="'s'" [isFaceDown]="true"></app-card>
                    }
                    @for (card of player.hand; track $index){
                        <app-card [card]="card" [size]="'s'"></app-card>
                    }
                  </div>
                  @if (player.player_name == summary.winner_name){
                      <div class="player-badge">MAIN GAGNANTE</div>
                  }
                </div>
            }
          </div>
        </div>

        <div class="summary-actions">
          <button class="btn continue" (click)="onContinue()">Continuer</button>
        </div>
      </div>
    </div>
}
