<div class="game-table">
  @if (showTurnMessage) {
    <div class="turn-overlay">
      <div class="turn-message">
        🎯 À ton tour !
      </div>
    </div>
  }
  <!-- 💰 POT -->
  <div class="pot">
    Pot : {{ pot$() }} jetons
  </div>

  <!-- 🃏 CARTES COMMUNES -->
  <div class="community-cards">
    @for(card of communityCards$(); track $index){
        <app-card [card]="card"></app-card>
    }
  </div>

  <!-- 🎴 MAIN JOUEUR -->
  <div class="player-hand">
    @for(card of playerHand$(); track $index){
        <app-card [card]="card"></app-card>
    }
  </div>

  <!-- 🎮 ACTIONS -->
  <div class="actions">
    <button class="btn fold" (click)="fold()">Fold</button>

    <button class="btn call" (click)="call()">Call</button>

    <form [formGroup]="raiseForm" class="raise-box">
          <input
            type="number"
            step=5
            min=5
            formControlName="raiseAmount"
            placeholder="Montant à relancer"
           />
          <button class="btn raise" (click)="raise()">Raise</button>
    </form>
  </div>

  <!-- 👤 JOUEURS -->
  <div class="players">
    @for(p of players$(); track $index){
      <div
        class="player"
        [class.active]="p.player_name === currentPlayerName$()"
        [class.folded]="p.is_folded"
        [class.out]="p.is_out"
      >

        <div class="player-info">
          <div class="name">{{ p.player_name }}</div>
          <div>💰 {{ p.chips }}</div>
          <div>Mise : {{ p.current_bet }}</div>
        </div>

        <div class="player-cards">
          @if (!p.is_out) {
            @for(card of p.hand; track $index){
              <app-card [card]="card" [size]="'s'"></app-card>
            }
            @if(p.hand?.length == 0){
              <app-card [size]="'s'" [isFaceDown]="true"></app-card>
              <app-card [size]="'s'" [isFaceDown]="true"></app-card>
            }
          }
        </div>

      </div>
    }
  </div>
</div>
